<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortify | Home</title>
    <link rel="stylesheet" href="/home.css">

</head>

<body>
    <h1>URL Shortener</h1>

    <% if (locals.id) { %> <!--locals have all the value that has come from backend -->
    <p>URL generated: http://localhost:8001/url/<%= id %>
    </p>
    <% } %>
    <% if (locals.error) { %>
        <div class="error-box">
        <%= error %>
        </div>
    <% } %>

<div>
    <form method="POST" action="/url">
        <label>Enter your Original URL</label>
        <input type="text" name="url" placeholder="https://example.com">
        <button type="submit">Generate</button>
    </form>
</div>
<div>
    <% if (locals.urls && urls.length> 0) { %>
        <table>
            <thead>
                <th>S. No</th>
                <th>ShortID</th>
                <th>Redirect</th>
                <th>Clicks</th>
                <th>Short URL</th>
                <th>Delete URL?</th>
            </thead>

            <tbody>
                <% urls.forEach((url, index)=> { %>
                    <tr>
                        <td>
                            <%= index + 1 %>
                        </td>
                        <td>
                            <%= url.shortID %>
                        </td>
                        <td>
                            <%= url.redirectURL %>
                        </td>
                        <td>
                            <%= url.visitHistory.length %>
                        </td>
                        <td>
                            <a href="http://localhost:8001/url/<%= url.shortID %>">
                                http://localhost:8001/url/<%= url.shortID %>
                            </a>
                        </td>
                        <td class="btn-cell">
                            <form action="/url/delete/<%= url.shortID %>" method="POST"
                                onsubmit="return confirmDelete()">
                                <button type="submit"
                                    style="background-color: #ff4d4d; color: white; border: none; padding: 4px 8px; border-radius: 4px; cursor: pointer;">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>

        </table>
        <% } %>
</div>
<% if (user) { %>
  <div class="button-container">
    <% if (user.role === 'ADMIN') { %>
      <a href="/admin/analytics">
        <button class="admin-btn">📊 Admin Analytics</button>
      </a>
    <% } %>

    <form action="/user/logout" method="GET">
      <button type="submit" class="logout-btn"><a href="#" onclick="confirmLogout(event)" class="logouta">🚪 Logout</a></button>
    </form>
  </div>
<% } %>


<script>
      function confirmLogout(event) {
    event.preventDefault(); // prevent link default behavior
    const confirmed = confirm("Are you sure you want to logout?");
    if (confirmed) {
      window.location.href = "/user/logout"; // redirect if confirmed
    }
  }
    function confirmDelete(shortId) {
        if (confirm("Are you sure you want to delete this URL?")) {
            fetch(`/delete/${shortId}`, { method: "DELETE" })
                .then(() => location.reload())
                .catch(err => alert("Failed to delete"));
        }
    }
</script>


</body>

</html>